.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-2
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Leads
          %h1.m-0.text-dark Leads
        - if @company.setting.present? && @company.enable_visit_expiring_card
          .col-md-10.text-right
            .lead-card.elevation-3
              %h5
                Visit Expirations
                = link_to onsite_leads_path(visit_expiring: true) do
                  = @leads.visit_expiration.size
  .content
  .container-fluid
    .row
      .col-lg-12
        .card
          .card-header
            .box-header.row
              .col-md-5
                = form_tag onsite_leads_path, method: :get do
                  .input-group.input-group-sm
                    = text_field_tag :search_query, params[:search_query], class: "form-control", placeholder: "Search by name, email or phone"
                    .input-group-btn
                      = button_tag type: "submit", class: "btn btn-default btn-sm pd-fixes" do
                        = fa_icon "search"
                      = link_to onsite_leads_path, class: "btn btn-default btn-sm pd-fixes" do
                        = fa_icon "refresh"
          .card-body
            = form_tag bulk_action_leads_path, method: :put, class: 'form-inline' do
              - company_index_fields = current_user.company.index_fields
              - if current_user.is_super?
                = render 'bulk_action'
              .table-responsive
                %table.table.table-bordered.table-condensed.table-striped.tablesorter
                  %thead
                    %tr
                      %th.all Name
                      %th.all Lead No
                      %th.all Project
                      %th.all Status
                      %th.all Source
                      %th.all Assigned To
                      %th.all Closing Manager
                      - if @company.setting.present? && @company.enable_visit_expiring_card
                        %th First Visit
                        %th Since First visit
                      %th Created At
                      %th Action
                  %tbody
                    - @leads.each do |lead|
                      %tr
                        %td= lead.name
                        %td= lead.lead_no
                        %td= lead.project_name
                        %td= lead.status.name
                        %td= lead.source.name
                        %td= lead.user&.name
                        %td= lead.postsale_user&.name
                        - if @company.setting.present? && @company.enable_visit_expiring_card
                          %td= (lead.visits.order(date: :asc).first.date.strftime("%d-%b-%Y") rescue "")
                          %td= lead.days_since_first_visit
                        %td= lead.created_at.strftime("%d-%b-%Y %H:%M %p")
                        %td
                          - if (current_user.id == lead.user_id || lead.closing_executive == current_user.id)
                            = link_to edit_onsite_lead_path(lead), remote: true, class: "btn btn-primary m-r-5", style: "padding: 4px 8px; width: auto; border-radius: 50%!important;" do
                              = fa_icon "pencil"
                            - if @company.setting.present? && @company.enable_visit_expiring_card && lead.visits.present?
                              = link_to visit_details_onsite_lead_path(lead), remote: true, class: "btn btn-primary m-r-5", style: "padding: 4px 8px; width: auto; border-radius: 50%!important;" do
                                = fa_icon "pencil"
                          - else
                            = link_to '#', remote: true, class: "btn btn-primary m-r-5 disabled", style: "padding: 4px 8px; width: auto; border-radius: 50%!important;" do
                              = fa_icon "pencil"
              - if @leads.present?
                %br
                  %strong{style: "margin-left: 11px;"} Lead Count - #{@leads_count}
                  = will_paginate @leads, :class  =>  "ct-pag"
:css
  th a {
    color:#fff;
  }