.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Localities
          %h1.m-0.text-dark Localities
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .box-header.row
                .box-tools.col-md-12{:style=>"top:inherit;"}
                  .float-left
                    = form_tag(localities_path, :method => :get) do
                      .input-group.input-group-sm
                        = text_field_tag :search_string, params[:search_string], :placeholder => "Search Name/Regions", :class => 'form-control'
                        .input-group-btn
                          = button_tag type: "submit", class: "btn btn-default btn-sm pd-fixes" do
                            = fa_icon "search"
                  .float-right
                    .input-group
                      = link_to params.except(:action, :controller).merge!(format: :csv), class: "btn btn-primary btn-sm", style: "right: 5px;" do
                        = fa_icon "download"
                        Export
                      .input-group-btn
                        = link_to 'Add New Locality', new_locality_path, remote: true,
                          class: 'btn btn-primary float-right btn-sm'
            .card-body
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th.all Region Name
                      %th.all Action
                  %tbody
                    - @localities.each do |locality|
                      %tr
                        %td
                          = locality.name
                        %td
                          = locality.region.name
                        %td
                          = link_to (fa_icon "pencil"), edit_locality_path(locality), remote: true, class: "btn btn-primary btn-sm"
          - if @localities.present?
            .pagination-custom-holder
              %strong{style: "margin-left: 0;"} Localities Count - #{@localities.total_entries}
              = will_paginate @localities, :class  =>  "ct-pag"
