.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active API Keys
          %h1.m-0 API Keys
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .row
              .col-md-3.d-flex.align-items-center
                %h5.mb-0 API Keys
              .col-md-9
                .group-link
                  = link_to 'Add API Keys', new_companies_api_key_path, remote: true, class: 'btn btn-new ml-auto'

          .table-body
            .table-responsive
              %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                %thead
                  %tr
                    %th.all #
                    %th.all Source
                    %th.all User
                    %th.all Project
                    %th.all Key
                    %th.all Action
                %tbody
                  - @keys.each.with_index(1) do |key, i|
                    %tr
                      %td= i
                      %td
                        = key.source.name rescue "-"
                      %td= key.user.name rescue "-"
                      %td= key.project.name rescue "-"
                      %td
                        .uuid-copy
                          %span.uuid-value{id: "actualLink-#{key.id}"}
                            = key.key
                          %button.clipboard-btn.btn.btn-action{"data-clipboard-text"=>key.key}
                            = fa_icon "copy"
                      %td
                        = link_to edit_companies_api_key_path(key.uuid), remote: true, class: "btn btn-action btn-edit" do
                          = render partial: 'icons/edit'
                        = link_to companies_api_key_path(key.uuid), class: "btn btn-action btn-remove", method: :delete,
                            data: {:confirm => "Would you like to permanently delete this API Keys?", "commit-class" => "btn btn-action btn-remove", "cancel-class" => "btn btn-action btn-remove"} do
                          = fa_icon "trash-o"

          - if @keys.present?
            .pagination-custom-holder
              %label{style: "margin-left: 0;"} Api Keys Count - #{@keys.count}
              = will_paginate @keys, :class  =>  "ct-pag"
