.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Enquiry
          %h1.m-0.text-dark Enquiries
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .box-header.row
                .box-tools.col-md-12{:style=>"top:inherit;"}
                  .float-right
                    .input-group
                      .input-group-btn
                        = link_to 'Add New Source', new_source_path, remote: true,
                          class: 'btn btn-primary float-right btn-sm'
            .card-body
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th Status
                      %th Is CP?
                      %th IS Digital?
                      %th IS Reference?
                      %th.all Action
                  %tbody
                    - @sources.each do |source|
                      %tr
                        %td
                          = source.name
                        %td= source.active? ? "Active" : "Inactive"
                        %td= source.is_cp? ? "Yes" : "No"
                        %td= source.is_digital ? "Yes" : "No"
                        %td= source.is_reference ? "Yes" : "No"
                        %td
                          = link_to (fa_icon "pencil"), edit_source_path(source), remote: true, class: "btn btn-primary btn-sm"
          - if @sources.present?
            .pagination-custom-holder
              %strong{style: "margin-left: 0;"} Sources Count - #{@sources.total_entries}
              = will_paginate @sources, :class  =>  "ct-pag"