.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Enquiry
        .col-md-6
          %h1.m-0.text-dark Enquiry
        .col-md-6
          = link_to 'Add New Source', new_source_path, remote: true, class: 'btn btn-primary float-right btn-sm'

  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th Status
                      %th Is CP?
                      %th IS Digital?
                      %th IS Reference?
                      %th.all Action
                  %tbody
                    - @sources.each do |source|
                      %tr
                        %td
                          = source.name
                        %td= source.active? ? "Active" : "Inactive"
                        %td= source.is_cp? ? "Yes" : "No"
                        %td= source.is_digital ? "Yes" : "No"
                        %td= source.is_reference ? "Yes" : "No"
                        %td
                          .action-wrapper
                            = link_to edit_source_path(source), remote: true, class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Edit Sources
                        
              - if @sources.present?
                .pagination-custom-holder
                  %label{style: "margin-left: 0;"} Sources Count - #{@sources.total_entries}
                  = will_paginate @sources, :class  =>  "ct-pag"