.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Statues
        .col-md-6
          %h1.m-0.text-dark Statues
        .col-md-6
          = link_to 'Add New Status', new_status_path, remote: true, class: 'btn btn-primary float-right btn-sm'

  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th Class Name
                      %th.all Action
                  %tbody
                    - @statuses.each do |status|
                      %tr
                        %td
                          = status.name
                        %td= status.class_name
                        %td
                          .action-wrapper
                            = link_to edit_status_path(status), remote: true, class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Edit Status
                        
              - if @statuses.present?
                .pagination-custom-holder
                  %label{style: "margin-left: 0;"} Status Count - #{@statuses.total_entries}
                  = will_paginate @statuses, :class  =>  "ct-pag"