.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active My Reports
          %h1.m-0.text-dark My Reports
  .content
    .container-fluid
      .row
        .col-lg-12
          .table-card
            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap
                  %thead
                    %tr
                      %th.desktop #
                      %th.all Name
                      %th.all Execute
                      %th.all Action
                  %tbody
                    - @histories.each.with_index(1) do |history, i|
                      %tr
                        %td= i
                        %td= history.name
                        %td
                          = link_to "Execute", leads_path(:is_advanced_search => true, :save_search_id=> history.id), class: "btn btn-action", target: "_blank"
                        %td
                          = link_to users_search_history_path(history), class: "btn btn-danger", method: :delete,
                            data: {:confirm => "Would you like to permanently delete this search?", "commit-class" => "btn btn-action", "cancel-class" => "btn btn-action btn-remove"} do
                            Delete
          - if @histories.present?
            .pagination-custom-holder
              %label{style: "margin-left: 0;"} Searches Count - #{@histories.count}