%div{style: "display: none;", class: "bulk-process"}
  - default_tab = (@default_tab.presence || 'bulk_update')
  .row
    .col-12
      %ul.nav.nav-tabs
        %li.nav-item
          = link_to '#bulk_update', class: "nav-link #{'active' if default_tab == 'bulk_update'}", id: 'tab1-tab', "data-bs-toggle"=>"tab", role: "tab", "aria-controls"=>"tab1", "aria-selected" => (default_tab == 'bulk_update').to_s do
            Bulk Update
        %li.nav-item
          = link_to '#send_email', class: "nav-link #{'active' if default_tab == 'send_email'}", id: 'tab2-tab', "data-bs-toggle"=>"tab", role: "tab", "aria-controls"=>"tab2", "aria-selected" => (default_tab == 'send_email').to_s do
            Send Email
     

      .tab-content
        #tab1.tab-pane.fade{class: "#{'show active' if default_tab == 'sms'}", role: 'tabpanel', 'aria-labelledby' => 'tab1-tab'}
          1
        #tab2.tab-pane.fade{:class => ("show active" if @default_tab == 'lead-attempt')}
          2
        #bulk_update.tab-pane.fade{class: ("show active" if default_tab == 'bulk_update'), role: 'tabpanel', 'aria-labelledby' => 'bulk_update-tab'}
          .lead-body
            .row
              .col-12
                %h4.text-left.mb-4 Bulk Update
              .col-md-3.form-group
                %label.d-block.mb-1 Assigned To
                = select_tag :assigned_to, options_from_collection_for_select((current_user.is_executive? ? (current_user.company.setting.present? && current_user.company.enable_executive_to_assign_users ? current_user.company.users : current_user.manageables) :  current_user.manageables), :id, :name, params[:assigned_to]), prompt: "Select User", class: "form-control custom-select"
              .col-md-3.form-group
                %label.d-block.mb-1 Sales Manager
                - if current_user.company.managerwise_closing_executive_active
                  - users = current_user.is_executive? ? current_user.company.users.managers_role : (current_user.company.can_assign_all_users ? current_user.company.users.active : current_user.company.users.active.where(id: current_user.manageable_ids))
                - else
                  - users = current_user.company.can_assign_all_users ? current_user.company.users.active : current_user.company.users.active.where(id: current_user.manageable_ids)
                = select_tag :closing_executive, options_from_collection_for_select(users.meeting_executives, :id, :name, params[:closing_executive]), prompt: "Select User", class: "form-control custom-select"
              .col-md-3.form-group
                %label.d-block.mb-1 Next Call Date
                = text_field_tag :ncd, params[:ncd], class: "form-control datetimepicker", placeholder: "Next Call Date"
              .col-md-3.form-group
                %label.d-block.mb-1 Lead Status
                = select_tag :lead_status, options_from_collection_for_select(current_user.company.statuses, :id, :name, params[:lead_status]), prompt: "Lead Status", class: "form-control"
              .col-md-3.form-group
                %label.d-block.mb-1 Lead Source
                - sources = current_user.is_marketing_manager? ? current_user.accessible_sources : current_user.company.sources
                = select_tag :lead_source, options_from_collection_for_select(sources.active, :id, :name, params[:lead_source]), prompt: "Lead Source", class: "form-control"
              .col-md-3.form-group
                %label.d-block.mb-1 Project
                = select_tag :project_id, options_from_collection_for_select(current_user.company.projects, :id, :name, params[:project_id]), prompt: "Project", class: "form-control"
              .col-md-12.mt-3.mb-4
                = button_tag type: "submit", class: 'btn btn-new' do
                  Submit
                - if current_user.company.setting.present? && current_user.company.enable_deactivate_leads
                  - if current_user.is_super?
                    = button_tag 'Deactivate', value: 'deactivate', data: { confirm: 'Are you sure' }, class: 'btn btn-new btn-delete'
                - else
                  - if current_user.is_super? || current_user.is_marketing_manager?
                    = button_tag 'Delete', value: 'delete', data: { confirm: 'Are you sure' }, class: 'btn btn-new btn-delete'
                  - elsif current_user.is_sl_admin? && current_user.can_delete_lead
                    = button_tag 'Delete', value: 'delete', data: { confirm: 'Are you sure' }, class: 'btn btn-new btn-delete'
                - if false && current_user.click_to_call_enabled? && current_user.agent_id.present?
                  = button_tag fa_icon('phone'), value: 'bulk_call', data: { confirm: 'Are you sure' }, class: 'btn btn-circle btn-primary'
              / - if params[:search_query].present? || params[:is_advanced_search].present?
              /   %label{style: "margin-left: 11px;"} Lead Count - #{@leads.count}
        #send_email.tab-pane.fade{class: ("show active" if default_tab == 'send_email'), role: 'tabpanel', 'aria-labelledby' => 'send_email-tab'}
          .lead-body
            .row
              .col-12
                %h4.text-left.mb-4 Send Email
            = render partial: 'share_on_email'