.lead-card.lead-follow-up
  = link_to leads_path(todays_call_only: true, is_advanced_search: true), class: "lead-card-link" do
    .lead-card-icon.today_calls_leads_counts
    .lead-card-body
      %span.title Active Tasks
      %span.subtitle Calls Today
/ Backlogs
.lead-card.lead-backlog
  = link_to leads_path(backlogs_only: true, is_advanced_search: true), class: "lead-card-link" do
    .lead-card-icon.backlog_lead_counts
    .lead-card-body
      %span.title MFA
      %span.subtitle Missed Future Activity

- if @company.setting.present? && @company.enable_user_incentive && current_user.user_detail.present?
  .lead-card.lead-incentive-earned
    = link_to leads_path(), class: "lead-card-link" do
      .lead-card-icon= current_user.user_detail.earned_incentive
      .lead-card-body
        %span.title Earned Incentive
        %span.subtitle Total
  .lead-card.lead-incentive-paid
    = link_to leads_path(), class: "lead-card-link" do
      .lead-card-icon= current_user.user_detail.paid_incentive
      .lead-card-body
        %span.title Paid
        %span.subtitle Incentive
  .lead-card.lead-incentive-pending
    = link_to leads_path(), class: "lead-card-link" do
      .lead-card-icon= current_user.user_detail.pending_incentive
      .lead-card-body
        %span.title Pendings
        %span.subtitle Incentive

- if @company.setting.present? && @company.enable_visit_expiring_card
  .lead-card.lead-visit-expiring
    = link_to leads_path(visit_expiring: true, is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon.visit_expiration_count
      .lead-card-body
        %span.title Visit Expiry
        %span.subtitle Soon

- if @company.secondary_source_enabled
  .lead-card.lead-merge
    = link_to leads_path(is_advanced_search: true, merged: true), class: "lead-card-link" do
      .lead-card-icon.merge_lead_counts
      .lead-card-body
        %span.title Lead Merge
        %span.subtitle Duplicates

- if @company.hot_status_ids.reject(&:blank?).present?
  .lead-card.lead-hot
    = link_to leads_path(lead_statuses: @company.hot_status_ids, is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon#hot_lead_counts
      .lead-card-body
        %span.title Hot Leads
        %span.subtitle Priority

- if @company.new_status_id.present?
  .lead-card.lead-new
    = link_to leads_path(lead_statuses: [@company.new_status_id], is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon#new_lead_counts
      .lead-card-body
        %span.title New Leads
        %span.subtitle Fresh

- if @company.booking_done_id.present?
  .lead-card.lead-booked
    = link_to leads_path(lead_statuses: [@company.booking_done_id], is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon#booked_counts
      .lead-card-body
        %span.title Booked Leads
        %span.subtitle Confirmed

- if @company.dead_status_ids.present?
  .lead-card.lead-dead
    = link_to leads_path(lead_statuses: @company.dead_status_ids, is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon#dead_lead_counts
      .lead-card-body
        %span.title Drop off Leads
        %span.subtitle Closed

- if @company.setting.present? && @company.enable_visit_counter_card
  .lead-card.lead-visit
    = link_to leads_path(visit_form: true, is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon.visit_counter
      .lead-card-body
        %span.title Visit Counter
        %span.subtitle Forms

- if @company.setting.present? && @company.enable_deactivate_leads && current_user.is_super?
  .lead-card.lead-deactivated
    = link_to leads_path(deactivated: true, is_advanced_search: true), class: "lead-card-link" do
      .lead-card-icon.deactivated_count
      .lead-card-body
        %span.title Deactivated
        %span.subtitle Leads