.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Leads
          %h1.m-0 Leads
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .row
              .col-md-6
                .group-link
                  %a#adv-search.btn.btn-filter.btn-sm{:href => "javascript:void(0);"}
                    = render 'icons/filters'
                    Smart Search
              .col-md-6
                .group-link
                  = link_to leads_path, class: "btn btn-action ml-auto" do
                    
                    Table View
                  = link_to calender_view_leads_path, class: "btn btn-action" do
                    = fa_icon "refresh"
              
            = render partial: 'calender_view_advance_search'
          .table-body.custom-calender
            #lead-calendar
