.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-sm-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Import Leads
        .col-sm-12
          %h1.m-0 Import Leads
  .content
    .container-fluid
      .row
        .col-lg-6
          .import-card
            = form_tag import_leads_path, method: :post, multipart: true, class: '' do
              .row
                .form-group.col-md-12
                  .input-group
                    .custom-file
                      = file_field_tag :lead_file, accept: 'text/csv', :class=>"custom-file-input", :required=>true
                      %label.custom-file-label{:for => "inputGroupFile04"} Choose file
                    .input-group-append
                      = button_tag type: "submit", class: 'btn btn btn-new', data: { disable_with: 'Please wait...' } do
                        = fa_icon "upload"
                        Upload
                .col-md-12
                  = link_to "Sample CSV", "/sample-leads.csv", :class=>"btn btn-download"