= bootstrap_form_for @mcube_sid, url: (@mcube_sid.new_record? ? mcube_sids_path : mcube_sid_path(@mcube_sid.uuid)), remote: true do |f|
  - if @mcube_sid.errors.any?
    #error_explanation
      %h2
        = pluralize(@mcube_sid.errors.count, "error")
        prohibited this ExoPhone from being saved:
      %ul
        - @mcube_sid.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6.required
      .form-group
        = f.number_field :number, class: "form-control", placeholder: "ExoPhone Number"
    .col-md-6
      .form-group
        = f.text_field :description, class: "form-control", placeholder: "Description"
    .col-md-6
      .form-group
        = f.select :project_id, options_from_collection_for_select(current_user.company.projects, :id, :name, f.object.project_id), {include_blank: "Select Project", label: 'Project'}, {class: 'form-control'}
    .col-md-6
      .form-group
        = f.select :source_id, options_from_collection_for_select(@current_user.company.sources, :id, :name, f.object.source_id), {prompt: true, label: 'Source'}, class: 'form-control'
    .col-md-6
      .form-group
        = f.select :sub_source_id, options_from_collection_for_select(@current_user.company.sub_sources, :id, :name, f.object.sub_source_id), {prompt: true, label: 'SubSources'}, class: 'form-control'
    .col-md-6
      .form-group
        = f.select :default_numbers, options_from_collection_for_select(current_user.company.users.active.where.not(mobile: ''), :mobile, :numbers_with_name, f.object.default_numbers), {}, class: 'form-control multi-select-list', multiple: true
    .w-100
    .col-md-2
      .form-group.checkboxSpacing
        = f.check_box :is_active, class: 'custom-checkbox'
    .col-md-2
      .form-group.checkboxSpacing
        = f.check_box :is_round_robin_enabled, class: 'custom-checkbox', label: 'RR Enabled?'

  %div
    .col-md-12
      .form-group
        = button_tag type: "submit", class: "btn btn-new", data: {disable_with: "Please Wait..."} do
          
          Save
        = link_to call_ins_path, class: "btn btn-delete" do
          
          Cancel
:javascript
  $('.multi-select-list').multiselect({
    numberDisplayed: 1,
    enableFiltering: true,
    enableCaseInsensitiveFiltering: true,
    nonSelectedText: 'Please Select',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });