.nested-fields.col-md-6
  .clone-wrap{:style => "border: 1px dashed #999; border-radius: 5px; padding: 20px; margin-bottom: 20px;"}
    .row
      .col-md-6
        .form-group.required
          = f.text_field :name,  :class=>"form-control"
      .col-md-6
        .form-group.required
          = f.text_field :pretty_name, class: "form-control"
      .col-md-6
        .form-group.required
          = f.select :datatype, options_for_select(MagicField.datatypes, f.object.datatype), {include_blank: "Select DataType"}, class: 'form-control'
      .col-md-6
        .form-group.required
          = f.select :is_required, options_for_select([["Yes", true], ["No", false]], f.object.is_required), required: true
      .col-md-3
        .form-group
          = f.check_box :is_indexed_field
      .col-md-3
        .form-group
          = f.check_box :is_popup_field
      .col-md-3
        .form-group
          = f.check_box :is_select_list, class: 'custom-checkbox'
          .item-list{:style => ("display:none;" unless f.object.is_select_list?)}
            = f.text_field :items, value: f.object.items.join(',') || ''
      .col-md-3
        .form-group
          = f.check_box :fb_form_field, class: 'custom-checkbox', label: 'Enable Form Field'
          .item-list{:style => ("display:none;" unless f.object.fb_form_field?)}
            = f.text_field :fb_field_name, class: 'form-control', label: 'Fb Field Name'
          = f.hidden_field :type_scoped, value: 'Lead'

      .col-md-12
        %center
          = link_to_remove_association "Remove", f, :class=>"btn btn-remove-small"
:javascript
  $(".custom-checkbox").change(function () {
    var isChecked = $(this).closest('[type=checkbox]').is(':checked')
    if(isChecked) {
      $(this).parent().parent().next().first().show();
    } else {
      $(this).parent().parent().next().first().hide();
    }
  });