.nested-fields.col-md-6
  .clone-wrap{:style => "border: 1px dashed #999; border-radius: 5px; padding: 20px; margin-bottom: 20px;"}
    .row
      .col-md-6
        .form-group
          = f.text_field :start_date, :value=>(Date.parse(f.object.start_date.to_s) rescue nil), class: 'form-control datetimepicker'
      .col-md-6
        .form-group
          = f.text_field :end_date, :value=>(Date.parse(f.object.end_date.to_s) rescue nil), class: 'form-control datetimepicker'
      .col-md-6
        .form-group
          = f.select :sales_executive_id, options_from_collection_for_select(User.where(role_id: ::Role::SYSTEM_ADMIN_ROLE), :id, :name, (f.object.sales_executive_id rescue nil)), :prompt=>'Select Sales Manager', class: 'form-control', id: 'project_id'
      .col-md-6
        .form-group
          = f.select :customer_success_executive_id, options_from_collection_for_select(User.where(role_id: ::Role::SYSTEM_ADMIN_ROLE), :id, :name, (f.object.customer_success_executive_id rescue nil)), :prompt=>'Select Cusomter Success', class: 'form-control', id: 'project_id'
      .col-md-12
        %center
          = link_to_remove_association "Remove", f, :class=>"btn btn-remove-small"

:javascript
  // Initialize Flatpickr for datetime fields
  flatpickr('.datetimepicker', {
    enableTime: true,
    dateFormat: 'Y-m-d H:i:S',
    time_24hr: true,
    minuteIncrement: 30,
    allowInput: true,
    clickOpens: true,
    locale: {
      firstDayOfWeek: 1
    }
  });