.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Companies
          %h1.m-0.text-dark Companies
  .content
    .container-fluid
      .row
        .col-lg-12
          .table-card
            .search-card
              .row
                .col-md-5
                  .search-outer
                    = form_tag companies_path, method: :get do
                      .search-group
                        = text_field_tag :search_query, params[:search_query], class: "form-control", placeholder: "Search by name"
                        .search-group-btn
                          = button_tag type: "submit", class: "btn btn-default search-btn" do
                            = fa_icon "search"
                          = link_to companies_path, class: "btn btn-default search-btn refresh" do
                            = fa_icon "refresh"
                    %a#adv-search{:href => "javascript:void(0);", :class=>"btn btn-filter"}
                      = render 'icons/filters'
                      Smart Search
                .col-md-7
                  .group-link
                    = link_to params.except(:action, :controller).merge!(format: :csv), class: "btn btn-action ml-auto" do
                      = render 'icons/export'
                      Export
                    = link_to new_company_path, class: 'btn btn-new btn-sm' do
                      Add New Company

            = render partial: "advance_search"
            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th.all Domain
                      %th.all Uuid
                      %th.all Shuffle
                      %th SV Form
                   
                      %th.all Action
                      %th.all Renewal
                  %tbody
                    - @companies.each do |company|
                      %tr
                        %td
                          = link_to company.name, company_path(company), remote: true
                        %td= company.domain
                        %td
                          .uuid-copy
                          
                            %span.uuid-value{id: "actualLink-#{company.id}"}
                              = company.uuid
                            %button.clipboard-btn.btn.btn-action{"data-clipboard-text"=>company.uuid}
                              = fa_icon "copy"
                        
                        
                        %td
                          .action-wrapper
                            = link_to shuffle_statues_form_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/shuffle'
                              Status
                        %td
                          .action-wrapper
                            = link_to sv_form_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              SV
                        %td
                          .action-wrapper
                            = link_to project_form_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Project 
                            = link_to broker_form_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Broker
                            = link_to mobile_logo_form_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Logo
                            = link_to edit_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Company
                        %td
                          .action-wrapper
                            = link_to renewals_company_path(company), class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              
                          
                        
                       
              - if @companies.present?
                .pagination-custom-holder
                  %label{style: "margin-left: 0;"} Companies Count - #{@companies.total_entries}
                  = will_paginate @companies, :class  =>  "ct-pag"
