.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Project Form
          %h1.m-0.text-dark Edit Project Form For #{@company.name}
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-body
              = bootstrap_form_for(@company) do |f|
                - if @company.errors.any?
                  #error_explanation
                    %h2
                      = pluralize(@company.errors.count, "error")
                      prohibited this property configuration from being saved:
                    %ul
                      - @company.errors.full_messages.each do |message|
                        %li= message
                = f.fields_for :project_configuration do |pc|
                  .row
                    .col-md-6
                      .form-group
                        = pc.select :allowed_fields, options_for_select((::Company.project_allowed_options).map{|k| [k.humanize, k]}, pc.object&.allowed_fields),{}, {class: "form-control multiselect", multiple: true}
                  .row
                    %div{align: "center"}
                      .col-md-12
                        .form-group
                          = button_tag type: "submit", class: "btn btn-new", data: {disable_with: "Please Wait..."} do
                            
                            Save
                          = link_to companies_path, class: "btn btn-delete" do
                            
                            Cancel
:javascript
  $('.multiselect').multiSelect();