.content-wrapper
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              %h4.mb-0#Add Renewal #{@company.name}
            .card-body
              = bootstrap_form_for(@company) do |f|
                - if @company.errors.any?
                  #error_explanation
                    %h2
                      = pluralize(@company.errors.count, "error")
                      prohibited this property configuration from being saved:
                    %ul
                      - @company.errors.full_messages.each do |message|
                        %li= message
                .col-md-12
                  .form-group
                    %label.col-sm-2.control-label{:for => "exampleInputFile"} Renewals:
                    #renewals.row
                      = f.fields_for :renewals do |r|
                        = render "renewal_fields", :f => r
                      .links.m-4
                        = link_to_add_association "Add Renewals", f, :renewals, class: "btn btn-primary"
                .row
                  %div{align: "center"}
                    .col-md-12
                      .form-group
                        = button_tag type: "submit", class: "btn btn-primary", data: {disable_with: "Please Wait..."} do
                          = fa_icon "floppy-o"
                          Save
                        = link_to companies_path, class: "btn btn-danger" do
                          = fa_icon "close"
                          Cancel
:javascript
  $('.multiselect').multiSelect();