.modal-header
  %h5#flatBlockTitle.modal-title Block Flat: #{@flat_name}
  %button.hide.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  - if current_user.company.setting.present? && current_user.company.enable_flat_details
    .row
      .col-md-3
        .modal-lead-wrapper
          .lead-title Carpet area 
          .lead-info 
            = @carpet_area
      .col-md-3
        .modal-lead-wrapper
          .lead-title Configuration
          .lead-info
            =@config
      .col-md-3
        .modal-lead-wrapper
          .lead-title Facing
          .lead-info 
            = @facing
      .col-md-3
        .modal-lead-wrapper
          .lead-title Agreement Amount
          .lead-info
            = @costs["agreement_value"]
      .col-md-3
        .modal-lead-wrapper
          .lead-title Non-Agreement Amount
          .lead-info
            = @costs["non_agreement_value"]
      .col-md-3
        .modal-lead-wrapper
          .lead-title NTND Amount
          .lead-info
            = @costs["ntnd_value"]
    .w-100
  .row
    .col-md-6
      .form-group
        %h6.mt-4.text-dark
        = label_tag "Sales Person(s)"
        = select_tag "assigned_to[]", options_from_collection_for_select(current_user.manageables, :email, :name, current_user.email), class: "form-control multi-select-list", multiple: true, data: {prompt_name: 'Assigned To'}
        = hidden_field_tag 'flat_id', @flat_id
        = hidden_field_tag 'modal_building_id', @building_id
        = hidden_field_tag 'flat_name', @flat_name
    .col-md-6
      .form-group
        %h6.mt-4.text-dark
        = label_tag "Client"
        = select_tag "leads[]", options_from_collection_for_select(current_user.company.leads.booked_for(current_user.company), :name, :name), {prompt: "Please Select", hide_label: true, class: "form-control"}
    .col-md-6
      .form-group
        %h6.mt-4.text-dark
        %label{:for => ""} Start Date
        .input-group
          .input-group-addon
            = fa_icon "calendar"
          = text_field_tag :date, params[:date], class: "form-control dateFormat", placeholder: ""
    - if current_user.company.setting.present? && current_user.company.enable_expire_block_flat_details
      .col-md-6
        .form-group
          %h6.mt-4.text-dark
          %label{:for => ""} End Date
          .input-group
            .input-group-addon
              = fa_icon "calendar"
            = text_field_tag :end_date, params[:end_date], class: "form-control dateFormat", placeholder: ""
    .w-100
    .col-md-12
      .form-group
        %label{:for => ""} Comments
        = text_area_tag :comment, nil, rows: 2, class: "form-control"
  .modal-footer
  %button.btn.bg-gradient-primary.block-flat{"data-dismiss" => "modal"} Save changes

:javascript
  $('.multi-select-list').each(function(){
    var text = $(this).closest('select').data('prompt-name')
    text = text ? 'Select '+ text : 'Please Select'
    $(this).multiselect({
      numberDisplayed: 1,
      enableFiltering: true,
      enableCaseInsensitiveFiltering: true,
      nonSelectedText: text,
      includeSelectAllOption: true,
      buttonWidth: '100%',
      maxHeight: 350,
    });
  });

  function getFlatsDetail(building_id) {
    var url = '/companies/flats/'+building_id+'/fetch_building_flats'
    $.ajax({
      type: 'GET',
      url: url,
      dataType: 'script'
    });
  }


  $('.block-flat').click(function(){
    var flat_id = $('#flat_id').val();
    var user_emails = $('#assigned_to_').val();
    var leads_names=$('#leads_').val()
    var date = $("#date").val();
    var end_date=$("#end_date").val();
    var comment = $("#comment").val();
    var building_id = $("#modal_building_id").val();
    $.ajax({
      type: 'POST',
      url: '/companies/flats/'+flat_id+'/block_flat',
      data:{
        flat_id: flat_id,
        user_ids: user_emails,
        lead_names: leads_names,
        date: date,
        end_date: end_date,
        comment: comment
      },
      dataType: 'json',
      success: function(response) {
        if (response["status"]){
          getFlatsDetail(building_id);
        }else{
          toastr.error(response["message"])
        }
      }
    });
  });
