.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Stage
        .col-md-6
          %h1.m-0.text-dark Stages
        .col-md-6
          - if current_user.is_sysad?
            = link_to 'Add New Stage', new_stage_path, remote: true, class: 'btn btn-primary float-right btn-sm'

  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th.all Action
                  %tbody
                    - @stages.each do |stage|
                      %tr
                        %td
                          = stage.name
                        %td
                          .action-wrapper
                            = link_to edit_stage_path(stage.uuid), remote: true, class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Edit Stages
                        
              - if @stages.present?
                .pagination-custom-holder
                  %label{style: "margin-left: 0;"} Stages Count - #{@stages.count}
                  = will_paginate @stages, :class  =>  "ct-pag"