.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Countries
        .col-md-6
          %h1.m-0.text-dark Countries
        .col-md-6
          = link_to 'Add New Country', new_country_path, remote: true,
                          class: 'btn btn-primary float-right btn-sm'

  .content
    .container-fluid
      .row
        .col-lg-12
          .card
                        
            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th.all Action
                  %tbody
                    - @countries.each do |c|
                      %tr
                        %td
                          = c.name
                        %td
                          .action-wrapper
                            = link_to edit_country_path(c), remote: true, class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Edit Country
                        
              - if @countries.present?
                .pagination-custom-holder
                  %label{style: "margin-left: 0;"} Countries Count - #{@countries.total_entries}
                  = will_paginate @countries, :class  =>  "ct-pag"
