.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Cities
        .col-md-6
          %h1.m-0.text-dark Cities
        .col-md-6
          = link_to 'Add New City', new_city_path, remote: true, class: 'btn btn-primary float-right btn-sm'

  .content
    .container-fluid
      .row
        .col-lg-12
          .table-card
            .search-card
              .row
                .col-md-5
                  .search-outer
                    = form_tag(cities_path, :method => :get) do
                      .search-group
                        = text_field_tag :search_string, params[:search_string], :placeholder => "Search Name/City", :class => 'form-control'
                        .search-group-btn
                          = button_tag type: "submit", class: "btn btn-default search-btn" do
                            = fa_icon "search"
                .col-md-7
                  .group-link
                    = link_to cities_params.merge!(format: :csv), class: "btn btn-action ml-auto" do
                      = render 'icons/export'
                      Export

            .table-body
              .table-responsive
                %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Name
                      %th.all Action
                  %tbody
                    - @cities.each do |city|
                      %tr
                        %td
                          = city.name
                        %td
                          .action-wrapper
                            = link_to edit_city_path(city), remote: true, class: "btn btn-action btn-sm" do
                              = render 'icons/editIcon'
                              Edit Cities
                        
              - if @cities.present?
                .pagination-custom-holder
                  %label{style: "margin-left: 0;"} Cities Count - #{@cities.total_entries}
                  = will_paginate @cities, :class  =>  "ct-pag"
