= bootstrap_form_for @campaign, url: (@campaign.new_record? ? campaigns_path : campaign_path(@campaign.uuid)), remote: true do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= pluralize(@campaign.errors.count, "error") + " prohibited this Campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.text_field :title, class: "form-control", placeholder: "Title"
    .col-md-6
      .form-group
        = f.select :source_id, options_from_collection_for_select(current_user.company.sources, :id, :name, f.object.source_id), prompt: "Select Project", class: "tomselect-checkbox", multiple: true

  .row
    .col-md-4
      .form-group
        = f.text_field :start_date, class: "form-control dateFormat", placeholder: "Start date"
    .col-md-4
      .form-group
        = f.text_field :end_date, class: "form-control dateFormat", placeholder: "End date"
    .col-md-4
      .form-group
        = f.number_field :budget, class: "form-control currency_input", data: { view_target: "text_budget_from" }, placeholder: "Budget"
        %span.currency_text{ id: "text_budget_from" }

  .row

  .row
    .col-md-12
      .form-group
        %h5 Projects
        .dual-list-box.d-flex
          .w-100
            .available-projects
              %label Available Projects
              %select{ multiple: true, class: "form-control available-projects-list " }
                - current_user.company.projects.each do |project|
                  - unless @campaign.projects.include?(project)
                    %option{ value: project.id }= project.name
          .w-1{ style: "    width: 80px; display: flex ; align-items: center; justify-content: center; padding: 20px;" }
            
            =image_tag 'switch.png', alt: '', height: '32', width: '32', class: ''
          .w-100
            .selected-projects
              %label Selected Projects
              %select{ name: "campaign[project_ids][]", multiple: true, class: "form-control selected-projects-list" }
                - @campaign.projects.each do |project|
                  %option{ value: project.id, selected: true }= project.name
              %input{ type: "hidden", name: "campaign[project_ids][]", value: "" }

  .row
    .col-md-6
      .form-group
        = f.number_field :targeted_leads, class: "form-control", placeholder: "Targeted Leads"
    .col-md-6
      .form-group
        = f.number_field :targeted_ql, class: "form-control", placeholder: "Targeted Qualified Leads"

  .row
    .col-md-6
      .form-group
        = f.number_field :targeted_sv, class: "form-control", placeholder: "Targeted Site Visits"
    .col-md-6
      .form-group
        = f.number_field :targeted_bookings, class: "form-control", placeholder: "Targeted Bookings"

  .row
    .col-md-12
      .form-group
        = button_tag type: "submit", class: "btn btn-primary", data: { disable_with: "Please Wait..." } do
          
          Save
        = link_to campaigns_path, class: "btn btn-delete" do
          Cancel

:javascript
   $(document).ready(function() {
    $('.available-projects-list').on('click', 'option', function() {
      $(this).appendTo('.selected-projects-list').prop('selected', true);
    });

    $('.selected-projects-list').on('click', 'option', function() {
      $(this).appendTo('.available-projects-list').prop('selected', false);
    });

    $('.move-right').click(function() {
      $('.available-projects-list option:selected').each(function() {
        $(this).appendTo('.selected-projects-list').prop('selected', true);
      });
    });

    $('.move-left').click(function() {
      $('.selected-projects-list option:selected').each(function() {
        $(this).appendTo('.available-projects-list').prop('selected', false);
      });
    });

    $('.dateFormat').datetimepicker({
      timepicker: false,
      format: 'd/m/Y'
    });

    $(".currency_input").on("keyup", function(e) {
      var x = $(this).val();
      var to_fill_span = $("#" + $(this).data("viewTarget"));
      to_fill_span.html(inWords(x));
    });

    $('.currency_input').bind('focusout', function() {
      var x = $(this).val();
      var to_fill_span = $("#" + $(this).data("viewTarget"));
      to_fill_span.hide();
    });

    $('.currency_input').bind('focusin', function() {
      var x = $(this).val();
      var to_fill_span = $("#" + $(this).data("viewTarget"));
      to_fill_span.show();
    });

    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '100%'
    });
  });
