.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Broker Setup
          %h1.m-0 Broker Setup
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .action-bar
              %div
                .search-outer
                  = form_tag brokers_path, method: :get do
                    .search-group
                      = text_field_tag :search_query, params[:search_query], class: "form-control", placeholder: "Search Broker."
                      .search-group-btn
                        = button_tag type: "submit", class: "btn btn-default search-btn" do
                          = fa_icon "search"
                        = link_to brokers_path, class: "btn btn-default search-btn refresh" do
                          = fa_icon "refresh"
              %div
                .group-link
                  - if current_user.company.setting.present? && current_user.company.enable_broker_bulk_update
                    .input-group-btn
                      = link_to 'Bulk Update', bulk_update_brokers_path, class: 'btn btn-primary ', target: "_blank"
                  - if current_user.company.setting.present? && current_user.company.enable_import_brokers
                    .input-group-btn
                      = link_to import_brokers_path, :class=>"btn btn-primary", target: "_blank" do
                        = fa_icon "upload"
                        Import
                  - if current_user.company.setting.present? && current_user.company.enable_export_brokers
                    = link_to brokers_params.merge!(format: :csv), class: "btn btn-primary" do
                      = fa_icon "download"
                      Export
                 
                  = link_to 'Add New Broker', new_broker_path, remote: true, class: 'btn btn-new ml-auto'
          .table-body
            .table-responsive
              %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                %thead
                  %tr
                    %th.all Name
                    %th.all Email
                    - unless current_user.is_telecaller?
                      %th.all Mobile
                    %th.all Rera Number
                    %th.all Firm Name
                    %th.all Locality
                    %th.all CP Code
                    %th.all RM
                    %th Rera Cert
                    %th Action

                %tbody
                  - @brokers.each do |broker|
                    %tr
                      %td= broker.name
                      %td= broker.email
                      - unless current_user.is_telecaller?
                        %td= broker.mobile
                      %td= broker.rera_number
                      %td= broker.firm_name
                      %td= broker.locality
                      %td= broker.cp_code
                      %td= broker.rm.name rescue nil
                      %td= link_to (fa_icon("external-link", class: 'text-light')), broker.rera_document.url, target: '_blank', class: "btn btn-action" if broker.rera_document.present?
                      %td
                        = link_to edit_broker_path(broker.uuid), remote: true, class: "btn btn-action btn-edit" do
                          = render partial: 'icons/edit'
                        = link_to broker_path(broker.uuid), class: "btn btn-action btn-remove", method: :delete,
                          data: {:confirm => "Would you like to permanently delete this CP?", "commit-class" => "btn btn-action btn-remove", "cancel-class" => "btn btn-action"} do
                          = fa_icon "trash-o"
            .pagination-custom-holder
              %label{style: "margin-left: 0;"} Brokers Count - #{@brokers.count}
              = will_paginate @brokers, :class  =>  "ct-pag"
