= bootstrap_form_for @region, remote: true do |f|
  - if @region.errors.any?
    #error_explanation
      %h2
        = pluralize(@region.errors.count, "error")
        prohibited this Region from being saved:
      %ul
        - @region.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      .form-group
        = f.text_field :name, class: "form-control", placeholder: "Region Name"
    .col-md-6
      .form-group
        = f.select :city_id, options_from_collection_for_select(::City.all.order(:name), :id, :name, f.object.city_id), { prompt: "Select City" }, { class: 'form-control custom-select' }

    .col-md-12
      .form-group
        = button_tag type: "submit", class: "btn btn-new", data: {disable_with: "Please Wait..."} do
      
          Save
        = link_to regions_path, class: "btn btn-danger" do
        
          Cancel
