.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Effort Report
          %h1.m-0 Effort Report
  .content
    - is_user_logs_enabled=current_user.company.setting.present? && current_user.company.enable_activity_report_user_logs
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .row
              .col-md-5
                .group-link
                  %a#adv-search{:href => "javascript:void(0);", :class=>"btn btn-filter"}
                    = render 'icons/filters'
                    Smart Search
                  = link_to activity_search_params.merge!(format: :csv), class: "btn btn-action" do
                    = render 'icons/export'
                    Export
              .col-md-7
                .group-link
                  = render 'reports_button', locals: {report_name: :activity}
            #adv-searchbox.box-body
              = form_tag nil, method: :get, class: "filter-search-menu" do
                .p-2
                  .custom-search
                    .row
                      .col-12
                        %h5.mt-0 Search By Date
                      .col-md-6
                        = render partial: 'shared/activity_range_selector'
                      .col-12
                        %h5.mt-0 Search By Project Details
                      .col-md-3
                        = render partial: 'shared/projects_filter'
                      - if current_user.check_source_presence
                        .col-md-3
                          = render partial: 'shared/sources_filter'
                      .col-md-3
                        .form-group
                          %label Select Status
                          = select_tag "lead_statuses[]", options_from_collection_for_select(current_user.company.statuses, :id, :name, params[:lead_statuses]), class: "form-control multi-select-list", multiple: true, data: {prompt_name: 'Select Status'}
                      .col-md-3
                        = render partial: 'shared/managers_filter'
                      - if current_user.company.is_allowed_field?("customer_type")
                        .col-md-3
                          = render partial: 'shared/customer_type_filter'
                      .col-md-12
                        = button_tag type: "submit", class: "btn btn-primary" do
                          Search
          .table-body
            - plottable = {}
            .table-responsive
              %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                %thead
                  %tr
                    %th.all User
                    %th.all Total Edits
                    %th.all Status Edits
                    %th.all Comment Edits
                    - if is_user_logs_enabled
                      %th.all User Edits
                    %th.all Unique Leads Edits
                %tbody
                  - overall_counts= 0
                  - @users.each do |user|
                    - comment_edits = @comment_edits.detect{|k| k["user_id"] == user.id}
                    - status_edits = @status_edits.detect{|k| k["user_id"] == user.id}
                    - uniq_leads_edits = (@unique_activities.where(user_id: user.id).map(&:auditable_id).count rescue 0)
                    - comment_edits_total = (comment_edits["change_list"].count rescue 0)
                    - status_edits_total = (status_edits["change_list"].count rescue 0)
                    - if is_user_logs_enabled
                      - user_edits = @user_edits.detect{|k| k["user_id"] == user.id}
                      - user_edits_total = (user_edits["change_list"].count rescue 0)
                      - total_edits = comment_edits_total + status_edits_total + user_edits_total
                    - else
                      - total_edits = comment_edits_total + status_edits_total
                    - plottable[user.name] = total_edits
                    - overall_counts += total_edits
                    %tr
                      %td= user.name
                      %td
                        = link_to ad_path(user_id: user.id), target: "_blank" do
                          = total_edits
                      %td= status_edits_total
                      %td= comment_edits_total
                      - if is_user_logs_enabled
                        %td= user_edits_total
                      %td
                        = link_to ad_path(user_id: user.id, distinct_leads: true), target: "_blank" do
                          = uniq_leads_edits
            - if plottable.present?
              .chart-canvas.d-none.d-sm-block.pieChart
                = render partial: "report_chart", locals: {plottable: plottable}
