.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Activity Report
          %h1.m-0.text-dark Activity Report
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .pull-right
                = link_to params.except(:action, :controller).merge!(format: :csv), class: "btn btn-primary btn-sm", style: "right: 5px;" do
                  = fa_icon "download"
                  Export
              %h3.card-title= @user.name
            .card-body
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Date
                      %th.all Lead
                      %th.all Status Edits
                      %th.all Comment Edits
                      - if @user.company.setting.present? && @user.company.enable_activity_report_source_logs
                        %th.all Source Edits
                      - if @user.company.setting.present? && @user.company.enable_activity_report_user_logs
                        %th.all User Edits
                  %tbody
                    - @activities.each do |activity|
                      - comment_edits = comment_edit_text activity["audited_changes"]["comment"]
                      - status_edits = status_edit_html activity["audited_changes"]["status_id"]
                      - source_edits = source_edit_html activity["audited_changes"]["source_id"]
                      - user_edits = user_edit_html activity["audited_changes"]["user_id"]

                      %tr
                        %td= activity.created_at.strftime("%d-%m-%y %H:%M %p")
                        %td= (link_to activity.auditable.lead_no, lead_path(activity.auditable.id), remote: :true rescue '-')
                        %td= status_edits.html_safe
                        %td= comment_edits
                        - if @user.company.setting.present? && @user.company.enable_activity_report_source_logs
                          %td= source_edits.html_safe
                        - if @user.company.setting.present? && @user.company.enable_activity_report_user_logs
                          %td= user_edits.html_safe