.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Backlog Report
          %h1.m-0 Backlog Report
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .row
              .col-md-3
                %a#adv-search{:href => "javascript:void(0);", :style => "margin-left:-2px;", :class=>"btn btn-primary"}
                  Advanced Search
                  %i.fa.fa-angle-down
              .col-md-9
                .group-link
                  = render 'reports_button', locals: {report_name: :backlog}
                  = link_to search_params.merge!(format: :csv), class: "btn btn-primary" do
                    = fa_icon "download"
                    Export
            #adv-searchbox.box-body
              = form_tag nil, method: :get, class: "filter-search-menu" do
                .p-2
                  .custom-search
                    .row
                      .col-12
                        %h5.mt-0 Search By Date
                      .col-md-6
                        = render partial: 'shared/date_range_display'
                      .col-12
                        %h5.mt-0 Search By Project Details
                      .col-md-3
                        = render partial: 'shared/projects_filter'
                      .col-md-3
                        = render partial: 'shared/users_filter'
                      .col-md-3
                        = render partial: 'shared/managers_filter'
                      - if current_user.company.is_allowed_field?("customer_type")
                        .col-md-3
                          = render partial: 'shared/customer_type_filter'
                      .col-md-6
                        = render partial: 'shared/ncd_filter'
                      .col-md-3
                        = render partial: 'shared/sources_filter'
                      .col-md-12
                        = button_tag type: "submit", class: "btn btn-primary" do
                          Search
          .table-body
            - plottable = {}
            .table-responsive
              %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                %thead
                  %tr
                    %th.all User
                    %th.all Total
                    - @statuses.each do |status|
                      %th.desktop= status.name
                %tbody
                  - @users.each do |user|
                    - this_user_data = @data.select{|k| k["user_id"] == user.id}
                    - user_total = (this_user_data.map{|k| k["lead_ids"].count}.sum rescue 0)
                    - plottable[user.name] = user_total
                    %tr
                      %td= user.name
                      %td
                        = link_to bl_path(:assigned_to=>[user.id]), target: "_blank" do
                          = user_total
                      - @statuses.each do |status|
                        - this_status_data = this_user_data.detect{|k| k["status_id"] == status.id}
                        %td
                          = link_to bl_path(:assigned_to=>[user.id], :lead_statuses=>[status.id]), target: "_blank" do
                            = this_status_data["lead_ids"].count rescue 0
                - if @data.present?
                  %tbody
                    %tr
                      %td Total
                      %td
                        = link_to bl_path(:assigned_to=> [@users.ids]), target: "_blank" do
                          = @data.map{|k| k["lead_ids"].count}.sum rescue 0
                      - @statuses.each do |status|
                        %td
                          = link_to bl_path(:assigned_to=>[@users.ids], :lead_statuses=>[status.id]), target: "_blank" do
                            = @data.collect{|k| k["lead_ids"].count if k["status_id"] == status.id}.compact.sum rescue 0
            - if plottable.present?
              .chart-canvas.d-none.d-sm-block.pieChart
                = render partial: "report_chart", locals: {plottable: plottable}