.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-8
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Customized Status Report
          %h1.m-0.text-dark Customized Status Report
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .pull-right
                %a#adv-search{:href => "javascript:void(0);", :style => "margin-left:-2px;", :class=>"btn btn-primary btn-sm"}
                  Advanced Search
                  %i.fa.fa-angle-down
            #adv-searchbox.box-body
              = form_tag nil, method: :get, class: "filter-search-menu" do
                = hidden_field_tag :is_advanced_search, true
                .card-header
                  .custom-search
                    .row
                      .col-md-12
                        .row
                          .col-md-3
                            .form-group
                              = label_tag :display_from, 'Created From ', class: 'control-label'
                              .input-group
                                %span.input-group-addon
                                  = fa_icon 'calendar'
                                = text_field_tag :start_date, (@start_date.to_date rescue nil), class: 'form-control dateFormat pull-right', required: true
                          .col-md-3
                            .form-group
                              = label_tag :display_upto, 'Created Upto', class: 'control-label'
                              .input-group
                                %span.input-group-addon
                                  = fa_icon 'calendar'
                                = text_field_tag :end_date, (@end_date.to_date rescue nil), class: 'form-control dateFormat pull-right', required: true
                          .col-md-3
                            .form-group
                              = label_tag :display_from, 'Visit Schedule From ', class: 'control-label'
                              .input-group
                                %span.input-group-addon
                                  = fa_icon 'calendar'
                                = text_field_tag :site_visit_from, (params[:site_visit_from].to_date rescue nil), class: 'form-control dateFormat pull-right'
                          .col-md-3
                            .form-group
                              = label_tag :display_upto, 'Visit Schedule Upto', class: 'control-label'
                              .input-group
                                %span.input-group-addon
                                  = fa_icon 'calendar'
                                = text_field_tag :site_visit_upto, (params[:site_visit_upto].to_date rescue nil), class: 'form-control dateFormat pull-right'
                          .col-md-3
                            = render partial: 'shared/projects_filter'
                          .col-md-3
                            = render partial: 'shared/managers_filter'
                          .col-md-3
                            .form-group
                              %label Select Status
                              = select_tag :lead_statuses, options_from_collection_for_select(@statuses, :id, :name, params[:lead_statuses]), multiple: true, class: "form-control multi-select-list"
                          .col-md-2
                            .form-group.selct-check.mt-35
                              = label_tag "Visited"
                              = check_box_tag 'visited', true, (params[:visited] == "true")
                      .col-md-3
                        .form-group
                          %label.label-block &nbsp;
                          = button_tag type: "submit", class: "btn btn-primary btn-sm pd-fixes align-fixes" do
                            = fa_icon "search"
                          = link_to nil, class: "btn btn-primary btn-sm pd-fixes align-fixes" do
                            = fa_icon "refresh"
            .card-body
              .table-responsive
                %table.table.table-bordered.table-hover.table-sm.responsive.nowrap.tablesorter{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th Name
                      %th Assigned To
                      %th Status
                      %th Visit Planned
                      %th Project
                      %th Description
                      %th Action
                  %tbody
                    - @leads.each do |lead|
                      %tr
                        %td= link_to lead.name, lead_path(lead), remote: true
                        %td=lead.user.name rescue ''
                        %td= lead.status.name
                        %td= (lead.tentative_visit_planned.strftime("%d-%m-%Y") rescue '-')
                        %td=lead.project.name
                        %td.showmore= lead.comment.strip.gsub(/\n/, '<br/>').html_safe rescue ""
                        %td
                          = link_to edit_lead_path(lead), remote: true, class: "btn btn-primary m-r-5", style: "padding: 4px 8px; width: auto; border-radius: 50%!important;" do
                            = fa_icon "pencil"
              - if @leads.present?
                = will_paginate @leads, class: "ct-pag"

:css
  th a {
    color:#fff;
  }
