.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Drop Off Leads
          %h1.m-0 Drop Off Leads
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .action-bar
              %div
                .group-link
                  %a#adv-search{:href => "javascript:void(0);", :class=>"btn btn-filter"}
                    = render 'icons/filters'
                    Smart Search
                  = link_to search_params.merge!(format: :csv), class: "btn btn-action" do
                    = render 'icons/export'
                    Export
              %div
                .group-link
                  = render 'reports_button', locals: {report_name: :dead}
              #adv-searchbox.box-body
                = form_tag nil, method: :get, class: "filter-search-menu" do
                  .p-2
                    .custom-search
                      .row
                        .col-12
                          %h5.mt-0 Search By Date
                        .col-md-6
                          = render partial: 'shared/date_range_display'
                        .col-md-6
                          = render partial: 'shared/updated_at_filter'
                        .col-12
                          %h5.mt-0 Search By Projects
                        .col-md-6
                          = render partial: 'shared/projects_filter'
                        .col-md-6
                          = render partial: 'shared/users_filter'
                        .col-12
                          %h5.mt-0 Search By Visit Date
                        .col-md-6
                          = render partial: 'shared/visited_date_filter'
                        - if current_user.company.setting.present? && current_user.company.setting.visit_filter_enable
                          .col-md-3
                            .form-group
                              %label Select visit counts
                              = select_tag :visit_counts, options_for_select(["Fresh Visit", "Revisit"], params[:visit_counts]), prompt: 'Select visit counts', class: "form-control"
                        - if current_user.company.is_allowed_field?("enquiry_sub_source_id") || current_user.company.is_allowed_field?("sub_source")
                          .col-md-6
                            = render partial: 'shared/sub_source_filter'
                        .col-md-6
                          = render partial: 'shared/managers_filter'
                        - if current_user.company.is_allowed_field?("customer_type")
                          .col-md-6
                            = render partial: 'shared/customer_type_filter'
                        - if current_user.company.is_allowed_field?("booking_date")
                          .col-md-6
                            = render partial: 'shared/booking_date_filter'
                        .col-md-12
                          
                          = button_tag type: "submit", class: "btn btn-primary" do
                            Search
          .table-body
            - plottable = {}
            .table-responsive
              %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                %thead
                  %tr
                    %th.all User
                    %th.all Total
                    - @reasons.each do |reason|
                      %th.desktop= reason.reason
                - overall_counts = 0
                %tbody
                  - @users.each do |user|
                    - this_user_data = @data.where(:user_id=>user.id)
                    - user_total = this_user_data.count
                    - plottable[user.name] = user_total
                    - overall_counts += user_total
                    %tr
                      %td= user.name
                      %td
                        = link_to dld_path(:assigned_to=>[user.id]), target: "_blank" do
                          = user_total
                      - @reasons.each do |reason|
                        - this_reason_data = this_user_data.where(:dead_reason_id=>reason.id)
                        %td
                          = link_to dld_path(:assigned_to=>[user.id], :dead_reason_ids=>[reason.id]), target: "_blank" do
                            = this_reason_data.count
                - if @data.present?
                  %td Total
                  %td
                    = link_to dld_path(:assigned_to=>[@users.ids]), target: "_blank" do
                      = overall_counts
                  - @reasons.each do |reason|
                    %td
                      = link_to dld_path(:assigned_to=>[@users.ids], :dead_reason_ids=>[reason.id]), target: "_blank" do
                        = @data.where(:dead_reason_id=>reason.id).count
            - if plottable.present?
              .chart-canvas.d-none.d-sm-block.pieChart
                = render partial: "report_chart", locals: {plottable: plottable}