.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Source Report
          %h1.m-0.text-dark Source Report
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              = link_to params.except(:action, :controller).merge!(format: :csv), class: "btn btn-primary btn-sm", style: "right: 5px;" do
                = fa_icon "download"
                Export
              = render 'reports_button', locals: {report_name: :gre_source_report}
            .card-body
              - plottable = {}
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Source
                      %th.all Total
                      - @statuses.each do |status|
                        %th.desktop= status.name
                  - overall_counts = 0
                  %tbody
                    - @sources.each do |source|
                      - this_source_data = @data.select{|k| k["source_id"] == source.id}
                      - if this_source_data.present?
                        - source_total = (this_source_data.map{|k| k["lead_ids"].uniq.count}.sum rescue 0)
                        - plottable[source.name] = source_total
                        - overall_counts += source_total
                        %tr
                          %td= source.name
                          %td
                            -#since gre doen't have the lead access, link is not provided 
                            = source_total
                          - @statuses.each do |status|
                            - this_status_data = this_source_data.detect{|k| k["status_id"] == status.id}
                            %td
                              = this_status_data["lead_ids"].uniq.count rescue 0
                  - if @data.present?
                    %tbody
                      %tr
                        %td Total
                        %td
                          = overall_counts
                        - @statuses.each do |status|
                          %td
                            = @data.collect{|k| k["lead_ids"].uniq.count if k["status_id"] == status.id}.compact.sum rescue 0
              - if plottable.present?
                .chart-canvas.d-none.d-sm-block.pieChart
                  = render partial: "report_chart", locals: {plottable: plottable}