.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Product Engagement
          %h1.m-0 Product Engagement
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .action-bar
              %div
                .group-link
                  %a#adv-search{:href => "javascript:void(0);", :class=>"btn btn-filter"}
                    = render 'icons/filters'
                    Smart Search
                  = link_to search_params.merge!(format: :csv), class: "btn btn-action" do
                    = render 'icons/export'
                    Export
              %div
                .group-link
                  = render 'reports_button', locals: {report_name: :projects}
            #adv-searchbox.box-body
              = form_tag nil, method: :get, class: "filter-search-menu" do
                .p-2
                  .custom-search
                    .row
                      .col-12
                        %h5.mt-0 Search By Date
                      .col-md-6
                        = render partial: 'shared/date_range_display'
                      .col-md-6
                        = render partial: 'shared/updated_at_filter'
                      - if current_user.check_source_presence
                        .col-md-6
                          = render partial: 'shared/sources_filter'
                      .col-12
                        %h5.mt-0 Search By Project Details
                      .col-md-6
                        = render partial: 'shared/projects_filter'
                      .col-md-6
                        = render partial: 'shared/users_filter'
                      .col-md-6
                        = render partial: 'shared/managers_filter'
                      - if current_user.company.is_allowed_field?("customer_type")
                        .col-md-6
                          = render partial: 'shared/customer_type_filter'
                      - if current_user.company.is_allowed_field?("enquiry_sub_source_id")
                        .col-md-6
                          = render partial: 'shared/sub_source_filter'
                      - if current_user.company.is_allowed_field?("booking_date")
                        .col-md-6
                          = render partial: 'shared/booking_date_filter'
                      .col-md-12
                        = button_tag type: "submit", class: "btn btn-new" do
                          Search
                          
          .table-body
            - plottable = {}
            .table-responsive
              %table.table.table-hover.dataTables.responsive.nowrap
                %thead
                  %tr
                    %th.all Project
                    %th.all Total
                    - @statuses.each do |status|
                      %th.desktop= status.name
                %tbody
                  - @projects.each do |project|
                    - this_project_data = @data.select{|k| k["project_id"] == project.id}
                    - if this_project_data.present?
                      - project_total = (this_project_data.map{|k| k["lead_ids"].count}.sum rescue 0)
                      - plottable[project.name] = project_total
                      %tr
                        %td= project.name
                        %td
                          = link_to ld_path(:project_ids=>[project.id]), target: "_blank" do
                            = project_total
                        - @statuses.each do |status|
                          - this_status_data = this_project_data.detect{|k| k["status_id"] == status.id}
                          %td
                            = link_to ld_path(:project_ids=>[project.id], :lead_statuses=>[status.id]), target: "_blank" do
                              = this_status_data["lead_ids"].count rescue 0
                - if @data.present?
                  %tbody
                    %td Total
                    %td
                      = link_to ld_path(project_ids: @projects.ids), target: "_blank" do
                        = @data.map{|k| k["lead_ids"].count}.sum rescue 0
                    - @statuses.each do |status|
                      %td
                        = link_to ld_path(:lead_statuses=>[status.id]), target: "_blank" do
                          = @data.collect{|k| k["lead_ids"].count if k["status_id"] == status.id}.compact.sum rescue 0
            - if plottable.present?
              .chart-canvas.d-none.d-sm-block.pieChart
                = render partial: "report_chart", locals: {plottable: plottable}
