.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-8
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Scheduled Visit Planned Report
          %h1.m-0 Scheduled Visit Planned Report
        .col-md-12
          .lead-card.lead-visit
            = link_to leads_path({visited: true, site_visit_from: @start_date.to_date, site_visit_upto: @end_date.to_date, is_advanced_search: true}.merge!(search_params)), target: "_blank", class: "lead-card-link" do
              .lead-card-icon= @leads.joins(:visits).uniq.count
              .lead-card-body
                %span.title Lead Visited
                %span.subtitle Visited
          
  .content
    .container-fluid
      .row
        .col-lg-12
          .table-card
            .search-card
              .row
                .col-md-7
                  .group-link
                    %a#adv-search{:href => "javascript:void(0);", :class=>"btn btn-filter"}
                      = render 'icons/filters'
                      Smart Search
                .col-md-5
                  .group-link
                    = link_to site_visit_planned_params.merge!(format: :csv), class: "btn btn-action ml-auto" do
                      = render 'icons/export'
                      Export
                    = link_to site_visit_planned_params.merge!(calender_view: true), class: "btn btn-action btn-sm" do
                      = render 'icons/calendar'
                      Calender
              #adv-searchbox.box-body
                = form_tag nil, method: :get, class: "filter-search-menu" do
                  .table-header
                    .custom-search
                      .row
                        .col-md-12
                          .row
                            .col-12
                              %h5.mt-0 Search By Scheduled Date  
                            .col-md-3
                              .form-group
                                = label_tag :display_from, 'Scheduled From ', class: 'control-label'
                                .input-group
                                  %span.input-group-addon
                                    = fa_icon 'calendar'
                                  = text_field_tag :start_date, (@start_date.to_date rescue nil), class: 'form-control dateFormat pull-right', required: true
                            .col-md-3
                              .form-group
                                = label_tag :display_upto, 'Scheduled Upto', class: 'control-label'
                                .input-group
                                  %span.input-group-addon
                                    = fa_icon 'calendar'
                                  = text_field_tag :end_date, (@end_date.to_date rescue nil), class: 'form-control dateFormat pull-right', required: true
                            .col-12
                              %h5 Search By Project Details  
                            .col-md-6
                              = render partial: 'shared/projects_filter'
                            - if current_user.company.expected_visit_ids.present?
                              .col-md-6
                                .form-group
                                  %label Select status
                                  = select_tag :visit_status_ids, options_from_collection_for_select(current_user.company.expected_visit_statuses, :id, :name, params[:visit_status_ids]),multiple: true, prompt: "Select status", class: "tomselect-checkbox"
                            .col-12
                              %h5 Search By Manager 
                            .col-md-6
                              = render partial: 'shared/managers_filter'
                            .col-md-6
                              = render partial: 'shared/managers_filter'
                            .col-12
                              %h5 Search by visited?

                            .col-md-2
                              .form-group.selct-check
                                = label_tag "Visited"
                                = check_box_tag 'visited', true, (params[:visited] == "true")
                        .col-md-3
                          
                          = button_tag type: "submit", class: "btn btn-new" do
                            Search
                           
            .table-body
              .table-responsive
                %table.table.table-hover.responsive.nowrap.tablesorter{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th Name
                      %th.sorter-false
                        - if params["sort"].present? and params["sort"] == "desc"
                          = link_to site_visit_planned_params.merge(key: "tentative_visit_planned", sort: "asc"), class: "lead-collapse", "aria-controls" => "collapseOne", role: "button" do
                            Scheduled Date
                        - else
                          = link_to site_visit_planned_params.merge(key: "tentative_visit_planned", sort: "desc"), class: "lead-collapse", "aria-controls" => "collapseOne", role: "button" do
                            Scheduled Date
                      %th Day
                      %th Time
                      %th Assigned To
                      %th Project
                      %th Description
                      %th Action
                  %tbody
                    - @leads.each do |lead|
                      %tr
                        %td= link_to lead.name, lead_path(lead), remote: true
                        %td=lead.tentative_visit_planned.strftime("%d-%m-%Y")
                        %td=lead.tentative_visit_planned.strftime("%A")
                        %td=lead.tentative_visit_planned.strftime("%H:%M")
                        %td=lead.user.name rescue ''
                        %td=lead.project.name
                        %td.showmore= lead.comment.strip.gsub(/\n/, '<br/>').html_safe rescue ""
                        %td
                          = link_to edit_lead_path(lead), remote: true, class: "btn btn-action" do
                            = render partial: 'icons/edit'
              - if @leads.present?
                = will_paginate @leads, class: "ct-pag"

