.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-12
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Lead Origin Analysis
          %h1.m-0 Lead Origin Analysis
  .content
    .container-fluid
      .row
        .col-lg-12
          .search-card
            .action-bar
              %div
                .group-link
                  %a#adv-search{:href => "javascript:void(0);", :class=>"btn btn-filter"}
                    = render 'icons/filters'
                    Smart Search
                  = link_to search_params.merge!(format: :csv), class: "btn btn-action" do
                    = render 'icons/export'
                    Export
              %div
                .group-link
                  = render 'reports_button', locals: {report_name: :source}
              #adv-searchbox.box-body
                = form_tag nil, method: :get, class: "filter-search-menu" do
                  .p-2
                    .custom-search
                      .row
                        .col-12
                          %h5.mt-0 Search By Date
                        .col-md-6
                          = render partial: 'shared/date_range_display'
                        .col-md-6
                          = render partial: 'shared/updated_at_filter'
                        .col-12
                          %h5.mt-0 Search By Projects
                        .col-md-6
                          = render partial: 'shared/projects_filter'
                        .col-md-6
                          = render partial: 'shared/users_filter'
                        .col-12
                          %h5.mt-0 Search By Visit Date
                        .col-md-6
                          = render partial: 'shared/visited_date_filter'
                        - if current_user.company.setting.present? && current_user.company.setting.visit_filter_enable
                          .col-md-3
                            .form-group
                              %label Select visit counts
                              = select_tag :visit_counts, options_for_select(["Fresh Visit", "Revisit"], params[:visit_counts]), prompt: 'Select visit counts', class: "form-control"
                        - if current_user.company.is_allowed_field?("enquiry_sub_source_id") || current_user.company.is_allowed_field?("sub_source")
                          .col-md-6
                            = render partial: 'shared/sub_source_filter'
                        .col-md-6
                          = render partial: 'shared/managers_filter'
                        - if current_user.company.is_allowed_field?("customer_type")
                          .col-md-6
                            = render partial: 'shared/customer_type_filter'
                        - if current_user.company.is_allowed_field?("booking_date")
                          .col-md-6
                            = render partial: 'shared/booking_date_filter'
                        .col-md-12
                          
                          = button_tag type: "submit", class: "btn btn-primary" do
                            Search
          .table-body
            - plottable = {}
            .table-responsive
              %table.table.table-hover.dataTables.responsive.nowrap{style: 'width:100%!important'}
                %thead
                  %tr
                    %th.all Source
                    %th.all Total
                    - @statuses.each do |status|
                      %th.desktop= status.name
                - overall_counts = 0
                %tbody
                  - @sources.each do |source|
                    - this_source_data = @data.select{|k| k["source_id"] == source.id}
                    - if this_source_data.present?
                      - source_total = (this_source_data.map{|k| k["lead_ids"].count}.sum rescue 0)
                      - plottable[source.name] = source_total
                      - overall_counts += source_total
                      %tr
                        %td= source.name
                        %td
                          = link_to ld_path(source_id: [source.id]), target: "_blank" do
                            = source_total
                        - @statuses.each do |status|
                          - this_status_data = this_source_data.detect{|k| k["status_id"] == status.id}
                          %td
                            = link_to ld_path(source_id: [source.id], lead_statuses: [status.id]), target: "_blank" do
                              = this_status_data["lead_ids"].count rescue 0
                - if @data.present?
                  %tbody
                    %tr
                      %td Total
                      %td
                        = link_to ld_path(source_id: @sources.ids), target: "_blank" do
                          = overall_counts
                      - @statuses.each do |status|
                        %td
                          = link_to ld_path(:lead_statuses=>[status.id]), target: "_blank" do
                            = @data.collect{|k| k["lead_ids"].count if k["status_id"] == status.id}.compact.sum rescue 0
            - if plottable.present?
              .chart-canvas.d-none.d-sm-block.pieChart
                = render partial: "report_chart", locals: {plottable: plottable}