.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Sub Source Report
          %h1.m-0.text-dark Sub Source Report
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .pull-right
                %a#adv-search{:href => "javascript:void(0);", :style => "margin-left:-2px;", :class=>"btn btn-primary btn-sm"}
                  Advanced Search
                  %i.fa.fa-angle-down
              = render 'reports_button', locals: {report_name: :sub_source}
            #adv-searchbox.box-body
              = form_tag nil, method: :get, class: "filter-search-menu" do
                .card-header
                  .custom-search
                    .row
                      .col-md-6
                        = render partial: 'shared/date_range_display'
                      .col-md-6
                        = render partial: 'shared/updated_at_filter'
                      .col-md-3
                        = render partial: 'shared/projects_filter'
                      .col-md-3
                        = render partial: 'shared/users_filter'
                      .col-md-3
                        = render partial: 'shared/managers_filter'
                      - if current_user.company.is_allowed_field?("customer_type")
                        .col-md-3
                          = render partial: 'shared/customer_type_filter'
                      .col-md-3
                        .form-group
                          %label.label-block &nbsp;
                          = button_tag type: "submit", class: "btn btn-primary btn-sm pd-fixes align-fixes" do
                            = fa_icon "search"
                          = link_to nil, class: "btn btn-primary btn-sm pd-fixes align-fixes" do
                            = fa_icon "refresh"
            .card-body
              - plottable = {}
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all Sub Source
                      %th.all Total
                      - @statuses.each do |status|
                        %th.desktop= status.name
                  - overall_counts = 0
                  %tbody
                    - @sub_sources.each do |sub_source|
                      - this_source_data = @data.select{|k| k["sub_source_id"] == sub_source.id}
                      - if this_source_data.present?
                        - source_total = (this_source_data.map{|k| k["lead_ids"].count}.sum rescue 0)
                        - plottable[sub_source.name] = source_total
                        - overall_counts += source_total
                        %tr
                          %td= sub_source.name
                          %td
                            = link_to ld_path(sub_source_ids: [sub_source.id]), target: "_blank" do
                              = source_total
                          - @statuses.each do |status|
                            - this_status_data = this_source_data.detect{|k| k["status_id"] == status.id}
                            %td
                              = link_to ld_path(sub_source_ids: [sub_source.id], lead_statuses: [status.id]), target: "_blank" do
                                = this_status_data["lead_ids"].count rescue 0
                  - if @data.present?
                    %tbody
                      %tr
                        %td Total
                        %td
                          = link_to ld_path(sub_source_ids: @sub_sources.ids), target: "_blank" do
                            = overall_counts
                        - @statuses.each do |status|
                          %td
                            = link_to ld_path(sub_source_ids: @sub_sources.ids, :lead_statuses=>[status.id]), target: "_blank" do
                              = @data.collect{|k| k["lead_ids"].count if k["status_id"] == status.id}.compact.sum rescue 0
              .chart-canvas.d-none.d-sm-block.pieChart
                = pie_chart(plottable, library: {animation: {easing: 'easeOutQuart'}})