.content-wrapper
  .content-header
    .container-fluid
      .row.mb-2
        .col-md-9
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "/"} Home
            %li.breadcrumb-item.active Call Response Report
          %h1.m-0.text-dark Call Response Report
  .content
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-header
              .pull-right
                %a#adv-search{:href => "javascript:void(0);", :style => "margin-left:-2px;", :class=>"btn btn-primary btn-sm"}
                  Advanced Search
                  %i.fa.fa-angle-down
              #adv-searchbox.box-body
                = form_tag nil, method: :get, class: "filter-search-menu" do
                  = hidden_field_tag :is_advanced_search, true
                  .card-header
                    .custom-search
                      .row
                        .col-md-6
                          = render partial: 'shared/date_range_display'
                        .col-md-3
                          = render partial: 'shared/projects_filter'
                        .col-md-3
                          .form-group
                            %label.label-block &nbsp;
                            = button_tag type: "submit", class: "btn btn-primary btn-sm pd-fixes align-fixes" do
                              = fa_icon "search"
                            = link_to nil, class: "btn btn-primary btn-sm pd-fixes align-fixes" do
                              = fa_icon "refresh"
            .card-body
              - plottable = {}
              .table-responsive
                %table.table.table-bordered.table-hover.dataTables.table-sm.responsive.nowrap{style: 'width:100%!important'}
                  %thead
                    %tr
                      %th.all User
                      %th.all Total Called Leads
                      %th.all Average Time To Call(H:M:S)
                  %tbody
                    - @users.each do |user|
                      - this_user_data = @data.select{|k| k["user_id"] == user.id}
                      - if this_user_data.present?
                        - total_leads =(this_user_data.map{|k| k["lead_ids"].count}.uniq.sum rescue 0)
                        - total_unique_lead = (this_user_data.map{|k| k["lead_ids"].count}.uniq.sum rescue 0)
                        - total_response_time = (this_user_data.map{|k| k["response_time"]}.sum rescue 0)
                        - plottable[user.name] = total_unique_lead
                        - this_user_response_time = (total_leads.zero? ? 0 : (total_response_time/total_leads.to_f).round(2)) rescue 0
                        - formatted_response_time = this_user_response_time.to_i.zero? ? 0 : seconds_to_time(this_user_response_time)
                        %tr
                          %td= user.name
                          %td
                            = link_to call_logs_leads_path(:user_ids=>[user.id], project_ids: params[:project_ids], first_call_attempt: true, is_advanced_search: true, direction: 'outgoing'), target: "_blank" do
                              = total_unique_lead
                          %td= formatted_response_time

              .chart-canvas.d-none.d-sm-block.pieChart
                = pie_chart(plottable, library: {animation: {easing: 'easeOutQuart'}})