%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link.menu-iconfix{"data-widget" => "pushmenu", :href => "#"}
        = fa_icon('bars')
    %li.nav-item.d-none.d-sm-inline-block
      = link_to root_path, class: 'nav-link' do
        Home
  %ul.navbar-nav.ml-auto
    %li.nav-item
      %a.nav-link.pt-0{"data-slide" => "true", "data-widget" => "control-sidebar", :href => "#"}
        .user-panel.d-flex
          .image
            = image_tag  "user2-160x160.jpg", class: 'img-circle'
          .info
            = current_user.name
            = fa_icon('angle-down')
%aside.main-sidebar.sidebar-dark-primary.elevation-4
  = link_to root_path, class: "brand-link logo-switch" do
    - company = current_user.company
    - if company.icon.present?
      %img.brand-image-xl.logo-xs{src: company.icon.url, alt: "Company Icon"}
    - else
      = image_tag "small-logo.jpg", class: 'brand-image-xl logo-xs'
    - if company.logo.present?
      %img.brand-image-xs.logo-xl{src: company.logo.url, alt: "Company Logo"}
    - else
      = image_tag "logo.jpg", class: 'brand-image-xs logo-xl'
  .sidebar
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
        %li.nav-item
          %li.nav-item.has-treeview{class: "#{['onsite_leads'].include?(params[:controller]) ? 'menu-open' : ''}"}
            = link_to '#', class: "nav-link #{'active' if ['onsite_leads'].include?(params[:controller])}" do
              %i.nav-icon.fa.fa-tasks.ct-settings-icon
              %p
                Leads
              %i.right.fa.fa-angle-left
            %ul.nav.nav-treeview
              %li.nav-item
                = link_to onsite_leads_path, class: "nav-link #{'active' if (params[:controller] == "onsite_leads" && params[:action] == 'index')}" do
                  %i.nav-icon.fa.fa-circle-o.ct-city-icon
                  %p Manage
      - if current_user.company.setting.present? && current_user.company.enable_gre_source_report
        %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
          %li.nav-item
            %li.nav-item.has-treeview{class: "#{['reports'].include?(params[:controller]) ? 'menu-open' : ''}"}
              = link_to '#', class: "nav-link #{'active' if ['reports'].include?(params[:controller])}" do
                %i.nav-icon.fa.fa-tasks.ct-settings-icon
                %p
                  Reports
                %i.right.fa.fa-angle-left
              %ul.nav.nav-treeview
                %li.nav-item
                  = link_to reports_gre_source_report_path, class: "nav-link #{'active' if (params[:controller] == "reports" && params[:action] == 'gre_source_report')}" do
                    %i.nav-icon.fa.fa-circle-o.ct-city-icon
                    %p Source Report
%aside.control-sidebar.control-sidebar-dark
  %div
    %ul.profile-menu
      %li
        = link_to edit_profile_users_path, class: '' do
          %i.icon.ion-md-person.ct-profile-icon.fa.fa-user>
          Profile
      %li
        = link_to destroy_user_session_path, method: :delete, class: '' do
          %i.icon.ion-md-lock.ct-logout-icon.fa.fa-lock
          Logout