%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link.menu-iconfix{"data-widget" => "pushmenu", :href => "#"}
        = render 'icons/menu'
  %ul.navbar-nav.ml-auto
 
    %li.nav-item
      %a.nav-link.pt-0{"data-slide" => "true", "data-widget" => "control-sidebar", :href => "#"}
        .user-panel.d-flex
          
          .info
            = current_user.name
            = fa_icon('angle-down')
%aside.main-sidebar.sidebar-dark-primary
  = link_to root_path, class: "brand-link logo-switch" do
    = image_tag  "small-logo.png", class: 'brand-image-xl logo-xs'
    = image_tag  "logo.png", class: 'brand-image-xs logo-xl'
  .sidebar
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
        %li.nav-item
          = link_to companies_path, class: "nav-link #{'active' if (params[:controller] == "companies")}" do
            = render 'icons/companyIcon'
            %p Companies
        %li.sideMenu-heading Settings  
        
       
        %li.nav-item
          = link_to countries_path, class: "nav-link #{'active' if (params[:controller] == 'countries')}" do
            = render 'icons/location'
            %p Country
    
        %li.nav-item
          = link_to cities_path, class: "nav-link #{'active' if (params[:controller] == 'cities')}" do
            = render 'icons/location'
            %p City
        %li.nav-item
          = link_to regions_path, class: "nav-link #{'active' if (params[:controller] == 'regions')}" do
            = render 'icons/location'
            %p Region
        %li.nav-item
          = link_to localities_path, class: "nav-link #{'active' if (params[:controller] == 'localities')}" do
            = render 'icons/location'
            %p Locality
        %li.nav-item
          = link_to sources_path, class: "nav-link #{'active' if params[:controller] == 'sources'}" do
            = render 'icons/adIcon'
            %p Source
        %li.nav-item
          = link_to statuses_path, class: "nav-link #{'active' if params[:controller] == 'statuses'}" do
            = render 'icons/leadStatusIcon'
            %p Status
        %li.nav-item
          = link_to stages_path, class: "nav-link #{'active' if params[:controller] == 'stages'}" do
            = render 'icons/stageIcon'
            %p Stage
        %li.nav-item
          = link_to call_ins_path, class: "nav-link #{'active' if params[:controller] == 'call_ins'}" do
            = render 'icons/phoneIcon'
            %p Call Ins
        %li.nav-item
          = link_to communication_templates_path, class: "nav-link #{'active' if params[:controller] == 'communication_templates'}" do
            = render 'icons/notificationReport'
            %p Notifications
        %li.nav-item
          = link_to users_path, class: "nav-link #{'active' if params[:controller] == 'users'}" do
            = render 'icons/usersIcon'
            %p Users
%aside.control-sidebar.control-sidebar-dark
  %div
    %ul.profile-menu
      %li
        .info
          %span Logged in as
          = current_user.name
      %li.nav-item
        = link_to edit_profile_users_path, class: 'nav-profile' do
          = render 'icons/profileIcon'
          Profile
      %li.nav-item
        = link_to destroy_user_session_path, method: :delete, class: 'nav-profile' do
          = render 'icons/logout'
          Logout